html {
    font-family: 'Montserrat', sans-serif;
}

#landingHTML {
    background: url(images/todolistLandingBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#standardHTML {
    background: url(images/todolistStandardBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navBar {
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    color: rgb(255,255,255);
    cursor: default;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navBar li {
    text-decoration: none;
    display: table;
    height: 100%;
}

.navBarItemL {
    color: rgb(255,255,255);
    text-align: center;
    float: left;
    padding: 0% 5%;
}

.navBarItemR {
    float: right;
    padding: 0% 2.5%;
    cursor: pointer;
}

.navBarItemButton:hover {
    font-weight: bold;
}

.navBarButton {
    border: none;
    background: none;
    line-height: 150px;
    padding:0!important;
    font: inherit;
    color: rgb(255,255,255);
    cursor: pointer;
}

.navBarButton:focus {
  outline:0;
}

.navBarButton p:hover {
  font-weight: bold;
}

.navBarButton p:active {
  color: rgb(210,215,211);
}

#title {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 6vw;
    text-align: center;
    cursor: default;
}

#title h1 {
    margin: 0;
    color:rgb(121,136,137);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#title h1:hover {
    color: rgba(0, 0, 0, 0)
}

#modal {
	position: fixed;
	font-family: inherit;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	z-index: -1;
	-webkit-transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modalContent {
	width: 50%;
	position: relative;
	margin: 15% auto;
	padding: 20px 20px;
	border-radius: 5px;
	background: rgb(255,255,255);
	text-align: center;
}

.modalContent h1 {
  font-size: 40px;
  color:rgb(121,136,137);
  margin: 20px auto 10px;
}

#errorMessage {
  color: #d91e18;
  margin: 0px auto 20px;
  animation: none 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -12px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #4EA6EA; }

.loginInput {
  margin: 0 auto 20px;
  font-size: 20px;
  display: block;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding 50px 10px 100px;
  width: 50%;
  box-shadow: -5px 10px 0px -7px #ebebeb, 5px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  height:17px;
  border: 0;
}

.loginInput:focus {
  box-shadow: -5px 10px 0px -7px #4EA6EA, 5px 10px 0px -7px #4EA6EA;
}

#forgotPassword {
  display: block;
  text-decoration: none;
  color:rgb(121,136,137);
}

#forgotPassword:hover {
  font-weight: bold;
}

#forgotPassword:active {
  color: rgb(210,215,211);
}

input[type=submit] {
  margin: 20px auto 10px;
  font-size: 30px!important;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color:rgb(121,136,137);
  cursor: pointer;
}

input[type=submit]:hover {
  font-weight: bold;
}

input[type=submit]:active {
  color: rgb(210,215,211);
}

#listContainer {
  margin: 150px auto;
  width: 50%;
}

.listItem {
  height: 50px;
  padding: 0px auto;
  margin: 2px;
  background: rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
}

.listItem:hover {
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.listItem:active {
  background: rgb(236, 236, 236);
}

.listItem h3 {
  color:rgb(108,122,137);
  margin: auto auto auto 25px;
}

#addListItem h3 {
  color: #4EA6EA;
}

#addTaskItem h3 {
  color: #4EA6EA;
}

.removeList {
  margin: auto 25px auto auto;
  max-height: 30px;
  width: auto;
  height: auto;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
}

#taskList {
  list-style-type: none;
}

.taskItem {
  height: 30px;
  display: flex;
  padding: auto;
  margin: auto auto 10px auto;
  box-shadow: 0px 10px 0px -7px #ebebeb, 0px 10px 0px -7px #ebebeb;
  transition: box-shadow 0.3s;
}

.taskItem h3 {
  color:rgb(108,122,137);
  float: left;
  margin: 0px auto 0px 10px;
}

.taskItemActive {
  box-shadow: 0px 10px 0px -7px #4EA6EA, 0px 10px 0px -7px #4EA6EA;
}

.deleteTask {
  color:rgb(108,122,137);
  font-size: 30px;
  padding: auto;
  margin: 0 25px 0 auto;
}

.deleteTask:hover {
  cursor: pointer;
}

#addTaskItem:hover {
  cursor: pointer;
}

#addTaskItem:active {
  opacity: 0.6;
}

#plusIcon {
  margin: 0px 0px 0px 10px;
}

.taskStatus {
  max-height: 20px;
  width: auto;
  height: auto;
  margin: 2px 0px auto 10px;
}
